# v2 binaries.
v2/player/player
v2/list_player/list_player
v2/event_handling/event_handling
v2/media_tracks/media_tracks
v2/media_information/media_information
v2/display_screen_media/display_screen_media
v2/gtk2_player/gtk2_player
v2/gtk2_screen_recorder/gtk2_screen_recorder
v2/gtk3_player/gtk3_player
v2/gtk3_screen_recorder/gtk3_screen_recorder
v2/equalizer/equalizer

# v3 binaries.
v3/player/player
v3/list_player/list_player
v3/event_handling/event_handling
v3/media_tracks/media_tracks
v3/media_information/media_information
v3/display_screen_media/display_screen_media
v3/gtk2_player/gtk2_player
v3/gtk2_screen_recorder/gtk2_screen_recorder
v3/gtk3_player/gtk3_player
v3/gtk3_screen_recorder/gtk3_screen_recorder
v3/chromecast_streaming/chromecast_streaming
v3/equalizer/equalizer
v3/gtk3_media_discovery/gtk3_media_discovery
